@import "./resp/AppResp.scss";
@import "./colors.scss";
@import "./globals.scss";

header {
  background-color: $light_1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main {
  height: auto;
}

.main-pane {
  height: 100%;
}

.left-pane {
  padding-left: 10%;
  padding-top: 5%;
}

.left-pane  * {
   margin: 1rem;
}

.left-pane h1, h3 {
  color: $primary_1;
}

.left-pane h1 {
  font-size: 3.2rem;
}

@-moz-document url-prefix() {
  .left-pane * {
    margin: 0.5rem;
  }
}

.right-pane {
  width: 50%;
}

.right-pane img {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.16);
}

.getStartedBtn {
  background-color: $primary_1;
  color: $light_1;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.getStartedBtn:hover {
  color:$primary_1;
  background-color: $light_1;
  border: 1px solid $primary_1;
  transition-duration: 0.3s;
}

.benefit-section {
  height: auto;
  background-color: $light_2;
  color:$primary_1;
  padding-bottom: 2%;
}

.benefit-section h1 {
  margin-left: 2%;
}

.products {
  height: 200%;
  margin-bottom: 3%;
}

.products h1 {
  color:$primary_1;
  margin-left: 2%;
}