.bnf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
}

.bnf div {
  text-align: justify;
}

.bnf span i {
  font-size: 2rem;
}

@import "./resp/BenefitCardResp.scss";