.benefitcard {
  width: 20%;

  h5 {
    text-align: center;
  }

  p {
    display: block;
    margin: auto;
    word-break: keep-all;
    text-align: justify !important;
  }
}

@import "./resp/BenefitCardResp.scss";