$primary_1: #3B3E6D;
$primary_2: #32366c;
$primary_3: #292d6b;
$primary_4: #222767;

$secondary_1: #424570;
$secondary_2: #4d507a;
$secondary_3: #54567d;
$secondary_4: #7579ae;

$light_1: #ffff;
$light_2: #EBEBEB;
$light_3: #acaaaa;

$dark_1: #0D1721;
$dark_2: #13212f;
$dark_3: #192b3e;
$dark_4: #1f364d;