@import "./colors.scss";
@import "./mixins.scss";

.nav {
  li a {
    color: $primary_1;
  }
  li a:hover {
    color: $secondary_4;
  }  
}

.login, .signin {
  font-size: 0.8rem;
  padding: 8px 10px;
}

.login:active, .signin:active {
  @include activeButtons;
}

.login {
  background-color: $primary_1;
  color: $light_1;
}

.signin {
  color: $primary_1;
  background-color: $light_1;
  border: 1px solid $primary_1;
}

.mobile-menu {
  display: none;
  border: 1px solid $primary_1;
  border-radius: 3px;
  cursor: pointer;
}
.mobile-menu div {
  background-color: $primary_1;
  margin: 8px;
  width: 32px;
  height: 4px;
  border-radius: 4px;
}

@import "./resp/NavBarResp.scss";