.nav li a {
  color: #3B3E6D;
}
.nav li a:hover {
  opacity: 0.7;
  color: #3B3E6D;
}

.login, .signin {
  font-size: 0.8rem;
  padding: 8px 10px;
}

.login {
  background-color: #3B3E6D;
  color: white;
}

.signin {
  color: #3B3E6D;
  background-color: white;
  border: 1px solid #3B3E6D;
}

.mobile-menu {
  display: none;
  border: 1px solid #3B3E6D;
  border-radius: 3px;
  cursor: pointer;
}
.mobile-menu div {
  background-color: #3B3E6D;
  margin: 8px;
  width: 32px;
  height: 4px;
  border-radius: 4px;
}

@import "./resp/NavBarResp.scss";