@media(max-width: 940px) {
    .benefitcard {
      width: 50%;
      padding: 10px;
    }

    .benefitcard div {
      width: 60%;
    }
  }
  
  @media(max-width: 561px) {
    .benefitcard {
      width: 100%;
      border-top: 1px solid lightgray;
    }
  }