@media(max-width: 858px) {
    .card {
      width: 30%;
      height: 20%;
    }
  
    .name {
      font-size: 1rem;
    }
  }
  
  @media(max-width: 769px) {
    .card {
     width: 40%;
    }
  }
  
  @media(max-width: 520px) {
    .card {
      width: 45%;
    }
  
    .name {
      font-size: 0.9rem;
    }
  }
  
  
  @media(max-width: 400px) {
    .card {
      width: 60%;
    }
  }